@{
    ViewBag.Title = "Despre";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>
<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
    <link href="https://fonts.googleapis.com/css?family=Dancing+Script" rel="stylesheet" />
    <asp:ContentPlaceHolder ID="head">
    </asp:ContentPlaceHolder>
    <style type="text/css">
        .auto-style2 {
            width: 60px;
        }

        .auto-style3 {
            width: 313px;
        }
    </style>
</head>

<body>
</body>






</html>


